In [1]:
##-------------------------##
##--实例：美国各州统计数据---##
##-------------------------##

In [2]:
#git clone https://github.com/jakevdp/data-USstates/
import numpy as py
import pandas as pd

In [3]:
#使用read_csv读入数据集
pop = pd.read_csv("./test_data/state-population.csv")
areas = pd.read_csv('./test_data/state-areas.csv')
abbrevs = pd.read_csv('./test_data/state-abbrevs.csv')
print(f"{pop.head()}\n\n{areas.head()}\n\n{abbrevs.head()}")

  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0

        state  area (sq. mi)
0     Alabama          52423
1      Alaska         656425
2     Arizona         114006
3    Arkansas          53182
4  California         163707

        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [5]:
#计算美国的人口密度
#首先state数据写入
merged = pd.merge(left=pop,right=abbrevs,how = "outer",left_on="state/region",right_on="abbreviation").drop("abbreviation",axis=1)
#查看是否有缺失值
merged.isnull().any()
#可以看出state和population有缺失值, 查看一下缺失值是哪些数据
merged[merged["population"].isnull()].head()
#将PR和对应的简称写入abbreviation
merged.loc[merged['state/region'] == 'PR', 'state'] = 'Puerto Rico'
merged.loc[merged['state/region'] == 'USA', 'state'] = 'United States'
print(f"{merged.isnull().any()}\n\n{merged.head()}")

state/region    False
ages            False
year            False
population       True
state           False
dtype: bool

  state/region     ages  year  population    state
0           AL  under18  2012   1117489.0  Alabama
1           AL    total  2012   4817528.0  Alabama
2           AL  under18  2010   1130966.0  Alabama
3           AL    total  2010   4785570.0  Alabama
4           AL  under18  2011   1125763.0  Alabama

In [6]:
#将population数据写入
merge_pop = pd.merge(left=merged,right=pop,how="outer")
#将面积数据写入
merge_den=pd.merge(merge_pop,areas,how = "outer")
#只选择总人口的数据和2010年数据
merge_den = merge_den.loc[(merge_den.year == 2010) & (merge_den.ages == "total"),:]
merge_den.head()

    state/region   ages  year  population       state  area (sq. mi)
3             AL  total  2010   4785570.0     Alabama        52423.0
91            AK  total  2010    713868.0      Alaska       656425.0
101           AZ  total  2010   6408790.0     Arizona       114006.0
189           AR  total  2010   2922280.0    Arkansas        53182.0
197           CA  total  2010  37333601.0  California       163707.0

In [7]:
#重置一下index
merge_den.set_index("state",inplace=True)
print(merge_den.head())

           state/region   ages  year  population  area (sq. mi)
state
Alabama              AL  total  2010   4785570.0        52423.0
Alaska               AK  total  2010    713868.0       656425.0
Arizona              AZ  total  2010   6408790.0       114006.0
Arkansas             AR  total  2010   2922280.0        53182.0
California           CA  total  2010  37333601.0       163707.0

In [8]:
#计算人口密度
destiny = merge_den.loc[:,"population"] / merge_den.loc[:,'area (sq. mi)']
destiny.head()

state
Alabama        91.287603
Alaska          1.087509
Arizona        56.214497
Arkansas       54.948667
California    228.051342
dtype: float64

In [102]:
#sort一下
print(f"'Smallest'\n{destiny.sort_values(ascending=True).head()}")
print(f"\n\nBiggeset{destiny.sort_values(ascending=False).head()}")

'Smallest'
state
Alaska           1.087509
Wyoming          5.768079
Montana          6.736171
North Dakota     9.537565
South Dakota    10.583512
dtype: float64


Biggesetstate
District of Columbia    8898.897059
Puerto Rico             1058.665149
New Jersey              1009.253268
Rhode Island             681.339159
Connecticut              645.600649
dtype: float64