In [ ]:
##-------------------------##
##----Pandas累计与分组------##
##-------------------------##

In [1]:
import numpy as np
import pandas as pd

In [3]:
#生成一个字符串向量
data = ['peter', 'Paul', None, 'MARY', 'gUIDO']
#转换为Series对象
data = pd.Series(data=data)
data

0    peter
1     Paul
2     None
3     MARY
4    gUIDO
dtype: object

In [4]:
#转换为大写
data.str.upper()

0    PETER
1     PAUL
2     None
3     MARY
4    GUIDO
dtype: object

In [10]:
#字符串计数
data.str.count(pat = "^[-P,M]")

0    0.0
1    1.0
2    NaN
3    1.0
4    0.0
dtype: float64

In [26]:
data.str.lower()

0    peter
1     paul
2     None
3     mary
4    guido
dtype: object

In [27]:
data.str.capitalize()

0    Peter
1     Paul
2     None
3     Mary
4    Guido
dtype: object

In [46]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam','Eric Idle', 'Terry Jones', 'Michael Palin'])

In [47]:
monte.str.startswith("T")

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [49]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

In [ ]:
#调用re库的方法
#match() 对每个元素调用 re.match()， 返回布尔类型值 是否匹配
#extract() 对每个元素调用 re.match()， 返回匹配的字符串组（groups）提取匹配部分
#findall() 对每个元素调用 re.findall() 查找符合条件的元素
#replace() 用正则模式替换字符串
#contains() 对每个元素调用 re.search()， 返回布尔类型值
#count() 计算符合正则模式的字符串的数量
#split() 等价于 str.split()， 支持正则表达式
#rsplit() 等价于 str.rsplit()， 支持正则表达式

In [63]:
monte.str.findall(pat='^[A-Z].*[aeiou]$')

0               []
1    [John Cleese]
2               []
3      [Eric Idle]
4               []
5               []
dtype: object

In [71]:
#Pandas处理字符串的其他方法,根据索引提取对应字符
monte.str.get(i=1)

0    r
1    o
2    e
3    r
4    e
5    i
dtype: object

In [76]:
#对字符串切片
monte.str.slice(start=0,stop=4,step=2)

0    Ga
1    Jh
2    Tr
3    Ei
4    Tr
5    Mc
dtype: object

In [ ]:
#slice_replace() 对元素进行切片替换
#cat() 连接字符串
#repeat() 重复元素
#normalize() 将字符串转换为 Unicode 规范形式
#wrap() 将字符串按照指定的宽度换行
#join() 用分隔符连接 Series 的每个元素
#get_dummies() 按照分隔符提取每个元素的 dummy 变量， 转换为独热（one-hot） 编码的 DataFrame

In [78]:
#查看某个方法的帮助文档
#help(data.str.cat)