In [ ]:
##-------------------------##
##----Pandas文件读取/保存---##
##-------------------------##

In [1]:
import pandas as pd
import numpy as np

In [22]:
#读入csv/tsv文件
df=pd.read_csv("../Python_Study/test_data/state-abbrevs.csv")
#sep分隔符
#header指定第几行作为列名
#nrow读取前几行
#skip_blank_lines 是否跳过空白行
#skiprows 跳过前几行
df2=pd.read_table("./test_data/state-abbrevs.csv",sep=",",header=0,nrows=5,skiprows = 5)

In [23]:
df2

             California  CA
0              Colorado  CO
1           Connecticut  CT
2              Delaware  DE
3  District of Columbia  DC
4               Florida  FL

In [30]:
#读入excel文件sheet_name指定读入那个sheet，默认为0
df3=pd.read_excel("./test_data/excel_test.xlsx",sheet_name=1,nrows = 5)
print(df3)

In [32]:
pd.read_excel("./test_data/excel_test.xlsx",sheet_name="population",nrows = 5)

  state/region     ages  year  population
0           AL  under18  2012     1117489
1           AL    total  2012     4817528
2           AL  under18  2010     1130966
3           AL    total  2010     4785570
4           AL  under18  2011     1125763

In [55]:
#help(df3.to_csv)

In [54]:
#index 是否将索引保存
#header 是否保存列名
#sep指定分隔符
df3.to_csv("./test_data/save.txt",index=False,sep = "\t")